export( dmp,
        dtw, ptw, qtw, rtw, 
     	dwishart.max, pwishart.max, qwishart.max, rwishart.max,
        wishart.max.par,
        dwishart.spike, pwishart.spike, qwishart.spike, rwishart.spike,
        wishart.spike.par )
